* {
  background-color: #c5dfd4;
  color: #211c6a;
  font-family: "Forum", serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  width: 100%;
  margin: 20px auto;
}

.heading-container {
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
}

.title {
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.selected {
  background-color: #2318c550;
}

img {
  width: 300px;
  margin: 0 auto;
}

.timer {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 10px;
}

.start {
  width: 200px;
  padding: 15px;
  border-radius: 20px;
  background-color: #211c6a;
  color: white;
  font-size: 20px;
  border: none;
  box-shadow: 10px 10px 5px #2318c550;
  cursor: pointer;
  text-transform: uppercase;
}

@media (max-width: 615px) {
  .title {
    font-size: 1.3rem;
    padding: 10px 10px;
  }
}
